@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


:root {
    --navy-blue: #283533;
    --navy-blue: #05210a;
    --light-blue: #d4f7db;
    --tiffany-blue: #9affe6;
    --apricot: #ffee88;
    --visited: #d9ff81; 
}
* {

    /*font-family: 'Roboto', sans-serif;*/
    line-height: 2;
    color: var(--light-blue);
    
}
body {
    /*background: linear-gradient( var(--med-purple), var(--navy-blue));*/
    background: var(--navy-blue);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Inconsolata', monospace;
    color: var(--light-blue);
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
    word-break: break-all;
}

h2 {
    color: var(--tiffany-blue);
    text-align: left;
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    font-weight: bold;
    word-break: break-all;
}

h3 {
    color: var(--light-blue);
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: bold;
    word-break: break-all;
}

h4 {
    color: var(--light-blue);
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}


code.inline {
    background: var(--light-blue);
    color: var(--navy-blue);
    padding: 0.1em;
    border-radius: 0.3em;
}

.realcode {
    background-color: var(--apricot);
    border: 1px solid var(--navy-blue);
    color:var(--navy-blue);
    display: block;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    border-radius: 0.3em;
}
span.directory {
    display: inline;
    color: var(--navy-blue);
    padding: 0.1em;
    background-color: var(--tiffany-blue);
    border-radius: 0.3em;
    font-family: 'Inconsolata', monospace;
}

span.monospace {
    font-family: 'Inconsolata', monospace;
    color: var(--apricot)
}


.specialCase {
    font-family: 'Inconsolata', monospace;
    color: var(--navy-blue);
}
.box {
    margin: auto;
    width: 65%;
    /*border: 1px solid var(--medium-green);*/
    padding: 10px;
    border-radius: 1em;


}

.write{
    border:none;
	padding: 7px;
	background: var(--bit-deeper-green);
	color:white;
}


a:link {
    color: var(--apricot);
    text-decoration: underline;
}
a:visited {
    /*color: var(--visited);*/
    color: var(--apricot);
}
.button:hover {
	box-shadow: 0 3px 7px 0 var(--tiffany-blue);
}

p {
    color: var(--light-blue);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.button {
    border-radius: 7px;
    border: none;
    background-color: var(--apricot);
    color: var(--navy-blue);
    text-align: center;
    padding: 8px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: inherit;
    transition: 0.5s;
  }
  
.button span:before {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 20px;
    transition: 0.5s;
}

.button:hover span {
    padding-left: 15px;
}
  
.button:hover span:before {
    opacity: 1;
    left: 0;
}

.rowC{display:flex; flex-direction:row;}

.slide-container {
    width: 40%;
    margin: 1% auto; 
}
  
  
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
  
.each-slide span {
    padding: 50px;
    font-size: 20px;
    text-align: center;
}
  
.each-fade {
    display: flex;
}


.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color:var(--apricot);
    color: var(--navy-blue);
    cursor: pointer;
    padding: 18px;
    width: 60%;
    text-align: left;
    border: none;
    margin:auto;
    border-radius:10px;
}

.accordion__button:hover {
    background-color: var(--tiffany-blue)
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cropUp{
    width: 60%;
    padding: 2em;
    margin: auto;
    font-family: "Courier New", Courier, monospace;
}
