@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
:root {
	--background: #041401;
	--text-color: #e4f9cc;
	--h2-color: #c0f7a0;
	--link-color: #f78fdd;
	--hot-pink: #85075b;
	--light-yellow: #ffee88;
}

* {
	line-height: 2;
	color: var(--text-color);
}
body {
	background: var(--background);
	background-color: #010210;
	/*background-color: radial-gradient(red, green, blue);*/
	background-image:
		radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 7px),
		radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 3px),
		radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 7px),
		radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 3px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h1 {
	font-family: 'Caveat', cursive;
	font-family: 'Waiting for the Sunrise', cursive;
	color: var(--text-color);
	text-align: center;
	font-size: 2.9em;
	font-weight: lighter;
	word-break: break-all;
}

h2 {
	color: var(--h2-color);
	text-align: left;
	font-family: 'Inconsolata', monospace;
	font-size: 1.5625em;
	font-weight: bold;
	word-break: break-all;
}

h3 {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 1.25em;
	font-weight: bold;
	word-break: break-all;
}

h4 {
	font-family: 'Inconsolata', monospace;
	font-size: 1.2em;
}

p {
	font-family: 'Fira Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
}
.realcode {
	background-color: var(--light-yellow);
	color: var(--background);
	border: 1px;
	display: block;
	padding: 10px;
	font-family: 'Inconsolata', monospace;
	border-radius: 0.3em;
}

span.directory {
	display: inline;
	padding: 0.1em;
	color: var(--background);
	background-color: var(--h2-color);
	border-radius: 0.3em;
	font-family: 'Inconsolata', monospace;
}

span.monospace {
	font-family: 'Inconsolata', monospace;
}

.specialCase {
	font-family: 'Inconsolata', monospace;
	color: var(--background);
}

.box {
	margin: auto;
	width: 57%;
	padding: 10px;
	border-radius: 1em;
	font-family:'Inconsolata', monospace;
}

a:hover {
	filter: drop-shadow(0 0 10px);
}
a:link {
	color: var(--link-color);
	text-decoration: underline;
}
a:visited {
	color: var(--link-color);
}


.introlinks {
	width: 100%;
}

.button {
	border-radius: 7px;
	border: none;
	font-size:1em;
	/*background-color: var(--hot-pink);*/
	background-color: var(--link-color);
	color: var(--background);
	text-align: center;
	padding: 0.4em;
	transition: all 0.5s;
	cursor: pointer;
	margin: 0.4em;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	color: inherit;
	transition: 0.5s;
}

.button span:before {
	content: '\00ab';
	position: absolute;
	opacity: 0;
	top: 0;
	left: 20px;
	transition: 0.5s;
}

.button:hover span {
	padding-left: 15px;
}

.button:hover span:before {
	opacity: 1;
	left: 0;
}

.rowC{display:flex; flex-direction:row;}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}


